In [1]:
players <- read.csv(file="baseball.csv", header=TRUE, sep=",")
head(players)

  X   id        year stint team lg g  ab  r  h  ... rbi sb cs bb so ibb hbp sh
1   4 ansonca01 1871 1     RC1     25 120 29 39 ... 16  6  2  2  1  NA  NA  NA
2  44 forceda01 1871 1     WS3     32 162 45 45 ... 29  8  0  4  0  NA  NA  NA
3  68 mathebo01 1871 1     FW1     19  89 15 24 ... 10  2  1  2  0  NA  NA  NA
4  99 startjo01 1871 1     NY2     33 161 35 58 ... 34  4  2  3  0  NA  NA  NA
5 102 suttoez01 1871 1     CL1     29 128 35 45 ... 23  3  1  1  0  NA  NA  NA
6 106 whitede01 1871 1     CL1     29 146 40 47 ... 21  2  2  4  1  NA  NA  NA
  sf gidp
1 NA NA
2 NA NA
3 NA NA
4 NA NA
5 NA NA
6 NA NA

In [2]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.4.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
playerst <- tbl_df(players)
playerst

      X     id        year stint team lg  g   ab  r   h   ... rbi sb  cs  bb
1       4   ansonca01 1871 1     RC1      25  120 29   39 ... 16  6   2    2
2      44   forceda01 1871 1     WS3      32  162 45   45 ... 29  8   0    4
3      68   mathebo01 1871 1     FW1      19   89 15   24 ... 10  2   1    2
4      99   startjo01 1871 1     NY2      33  161 35   58 ... 34  4   2    3
5     102   suttoez01 1871 1     CL1      29  128 35   45 ... 23  3   1    1
6     106   whitede01 1871 1     CL1      29  146 40   47 ... 21  2   2    4
7     113   yorkto01  1871 1     TRO      29  145 36   37 ... 23  2   2    9
8     121   ansonca01 1872 1     PH1      46  217 60   90 ... 50  6   6   16
9     143   burdoja01 1872 1     BR2      37  174 26   46 ... 15  0   1    1
10    167   forceda01 1872 1     TRO      25  130 40   53 ... 16  2   2    1
11    168   forceda01 1872 2     BL1      19   95 29   41 ... 13  3   0    1
12    186   hinespa01 1872 1     WS4      11   49  9   12 ...  5  0   0    0
13    209   mathebo01 1872 1     BL1      50  223 36   50 ... 21  1   1    3
14    226   nelsoca01 1872 1     TRO       4   20  2    7 ...  4  0   0    0
15    227   nelsoca01 1872 2     BR1      18   76 12   19 ...  8  1   0    2
16    229   orourji01 1872 1     MID      23  101 25   31 ... 12  1   0    2
17    249   startjo01 1872 1     NY2      55  282 62   76 ... 50  3   3    0
18    252   suttoez01 1872 1     CL1      22  107 30   30 ... 10  1   0    1
19    259   whitede01 1872 1     CL1      22  109 21   37 ... 22  0   0    4
20    268   yorkto01  1872 1     BL1      51  248 66   66 ... 41  2   1    4
21    276   ansonca01 1873 1     PH1      52  254 53  101 ... 36  0   2    5
22    293   burdoja01 1873 1     BR2      55  245 56   62 ... 36  3   1    7
23    314   forceda01 1873 1     BL1      49  234 77   86 ... 31  1   0    9
24    318   gerhajo01 1873 1     WS5      13   56  6   12 ...  7  0   0    0
25    327   hinespa01 1873 1     WS5      39  181 33   60 ... 29  0   1    1
26    344   mathebo01 1873 1     NY2      52  223 40   43 ... 13  1   1   10
27    353   nelsoca01 1873 1     NY2      36  168 28   55 ... 22  2   0    1
28    355   orourji01 1873 1     BS1      57  280 79   98 ... 48  4   2   14
29    375   snydepo01 1873 1     WS5      28  108 16   21 ...  4  0   1    3
30    377   startjo01 1873 1     NY2      53  251 42   67 ... 28  1   0    4
...   ...   ...       ...  ...   ...  ... ... ... ... ...     ... ... ... ...
21670 89460 guarded01 2007 1     CIN  NL   15   0  0    0 ...  0   0  0     0
21671 89462 griffke02 2007 1     CIN  NL  144 528 78  146 ... 93   6  1    85
21672 89463 greensh01 2007 1     NYN  NL  130 446 62  130 ... 46  11  1    37
21673 89464 graffto01 2007 1     MIL  NL   86 231 34   55 ... 30   0  1    24
21674 89465 gordoto01 2007 1     PHI  NL   44   0  0    0 ...  0   0  0     0
21675 89466 gonzalu01 2007 1     LAN  NL  139 464 70  129 ... 68   6  2    56
21676 89467 gomezch02 2007 2     CLE  AL   19  53  4   15 ...  5   0  0     0
21677 89468 gomezch02 2007 1     BAL  AL   73 169 17   51 ... 16   1  2    10
21678 89469 glavito02 2007 1     NYN  NL   33  56  3   12 ...  4   0  0     6
21679 89473 floydcl01 2007 1     CHN  NL  108 282 40   80 ... 45   0  0    35
21680 89474 finlest01 2007 1     COL  NL   43  94  9   17 ...  2   0  0     8
21681 89480 embreal01 2007 1     OAK  AL    4   0  0    0 ...  0   0  0     0
21682 89481 edmonji01 2007 1     SLN  NL  117 365 39   92 ... 53   0  2    41
21683 89482 easleda01 2007 1     NYN  NL   76 193 24   54 ... 26   0  1    19
21684 89489 delgaca01 2007 1     NYN  NL  139 538 71  139 ... 87   4  0    52
21685 89493 cormirh01 2007 1     CIN  NL    6   0  0    0 ...  0   0  0     0
21686 89494 coninje01 2007 2     NYN  NL   21  41  2    8 ...  5   0  0     7
21687 89495 coninje01 2007 1     CIN  NL   80 215 23   57 ... 32   4  0    20
21688 89497 clemero02 2007 1     NYA  AL    2   2  0    1 ...  0   0  0     0
21689 89498 claytro01 2007 2     BOS  AL    8   6  1    0 ...  0   0  0     0
21690 89499 claytro01 2007 1     TOR  AL   69 189 23   48 ... 12   2  1    14
21691 89501 cirilje01 2007 2     ARI  NL   28  40  6    8 ...  6   0  0     4
21692 89502 cirilje01 2007 1     MIN  AL   50 153 18   40 ... 21   2  0    15
21693 89521 bondsba01 2007 1     SFN  NL  126 340 75   94 ... 66   5  0   132
21694 89523 biggicr01 2007 1     HOU  NL  141 517 68  130 ... 50   4  3    23
21695 89525 benitar01 2007 2     FLO  NL   34   0  0    0 ...  0   0  0     0
21696 89526 benitar01 2007 1     SFN  NL   19   0  0    0 ...  0   0  0     0
21697 89530 ausmubr01 2007 1     HOU  NL  117 349 38   82 ... 25   6  1    37
21698 89533 aloumo01  2007 1     NYN  NL   87 328 51  112 ... 49   3  0    27
21699 89534 alomasa02 2007 1     NYN  NL    8  22  1    3 ...  0   0  0     0
      so  ibb hbp sh  sf  gidp
1     1   NA  NA  NA  NA  NA
2     0   NA  NA  NA  NA  NA
3     0   NA  NA  NA  NA  NA
4     0   NA  NA  NA  NA  NA
5     0   NA  NA  NA  NA  NA
6     1   NA  NA  NA  NA  NA
7     1   NA  NA  NA  NA  NA
8     3   NA  NA  NA  NA  NA
9     1   NA  NA  NA  NA  NA
10    0   NA  NA  NA  NA  NA
11    0   NA  NA  NA  NA  NA
12    0   NA  NA  NA  NA  NA
13    2   NA  NA  NA  NA  NA
14    2   NA  NA  NA  NA  NA
15    2   NA  NA  NA  NA  NA
16    0   NA  NA  NA  NA  NA
17    0   NA  NA  NA  NA  NA
18    1   NA  NA  NA  NA  NA
19    1   NA  NA  NA  NA  NA
20    1   NA  NA  NA  NA  NA
21    1   NA  NA  NA  NA  NA
22    4   NA  NA  NA  NA  NA
23    0   NA  NA  NA  NA  NA
24    5   NA  NA  NA  NA  NA
25    1   NA  NA  NA  NA  NA
26    3   NA  NA  NA  NA  NA
27    2   NA  NA  NA  NA  NA
28    1   NA  NA  NA  NA  NA
29    3   NA  NA  NA  NA  NA
30    0   NA  NA  NA  NA  NA
...   ... ... ... ... ... ...
21670   0  0   0   0  0    0
21671  99 14   1   0  9   14
21672  62  4   5   1  1   14
21673  44  6   3   0  2    7
21674   0  0   0   0  0    0
21675  56  4   4   0  2   11
21676   6  0   0   1  1    1
21677  20  1   0   5  1    5
21678   5  0   0  12  1    0
21679  47  5   5   0  0    6
21680   4  1   0   0  0    2
21681   0  0   0   0  0    0
21682  75  2   0   2  3    9
21683  35  1   5   0  1    2
21684 118  8  11   0  6   12
21685   0  0   0   0  0    0
21686   8  2   0   1  1    1
21687  28  0   0   1  6    4
21688   0  0   0   0  0    0
21689   3  0   0   0  0    2
21690  50  0   1   3  3    8
21691   6  0   0   0  0    1
21692  13  0   1   3  2    9
21693  54 43   3   0  2   13
21694 112  0   3   7  5    5
21695   0  0   0   0  0    0
21696   0  0   0   0  0    0
21697  74  3   6   4  1   11
21698  30  5   2   0  3   13
21699   3  0   0   0  0    0

In [4]:
glimpse(playerst)

Observations: 21,699
Variables: 23
$ X     <int> 4, 44, 68, 99, 102, 106, 113, 121, 143, 167, 168, 186, 209, 2...
$ id    <fctr> ansonca01, forceda01, mathebo01, startjo01, suttoez01, white...
$ year  <int> 1871, 1871, 1871, 1871, 1871, 1871, 1871, 1872, 1872, 1872, 1...
$ stint <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1...
$ team  <fctr> RC1, WS3, FW1, NY2, CL1, CL1, TRO, PH1, BR2, TRO, BL1, WS4, ...
$ lg    <fctr> , , , , , , , , , , , , , , , , , , , , , , , , ,
$ g     <int> 25, 32, 19, 33, 29, 29, 29, 46, 37, 25, 19, 11, 50, 4, 18, 23...
$ ab    <int> 120, 162, 89, 161, 128, 146, 145, 217, 174, 130, 95, 49, 223,...
$ r     <int> 29, 45, 15, 35, 35, 40, 36, 60, 26, 40, 29, 9, 36, 2, 12, 25,...
$ h     <int> 39, 45, 24, 58, 45, 47, 37, 90, 46, 53, 41, 12, 50, 7, 19, 31...
$ X2b   <int> 11, 9, 3, 5, 3, 6, 5, 10, 3, 11, 2, 1, 1, 0, 2, 4, 4, 6, 2, 1...
$ X3b   <int> 3, 4, 1, 1, 7, 5, 7, 7, 0, 0, 2, 0, 0, 0, 0, 1, 0, 1, 2, 4, 2...
$ hr    <int> 0, 0, 0, 1, 3, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0...
$ rbi   <int> 16, 29, 10, 34, 23, 21, 23, 50, 15, 16, 13, 5, 21, 4, 8, 12, ...
$ sb    <int> 6, 8, 2, 4, 3, 2, 2, 6, 0, 2, 3, 0, 1, 0, 1, 1, 3, 1, 0, 2, 0...
$ cs    <int> 2, 0, 1, 2, 1, 2, 2, 6, 1, 2, 0, 0, 1, 0, 0, 0, 3, 0, 0, 1, 2...
$ bb    <int> 2, 4, 2, 3, 1, 4, 9, 16, 1, 1, 1, 0, 3, 0, 2, 2, 0, 1, 4, 4, ...
$ so    <int> 1, 0, 0, 0, 0, 1, 1, 3, 1, 0, 0, 0, 2, 2, 2, 0, 0, 1, 1, 1, 1...
$ ibb   <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N...
$ hbp   <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N...
$ sh    <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N...
$ sf    <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N...
$ gidp  <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N...

In [5]:
data <- sample_n(players, 30)
glimpse(data)

Observations: 30
Variables: 23
$ X     <int> 8727, 18010, 89431, 44391, 70321, 60399, 32614, 66977, 53930,...
$ id    <fctr> becklja01, merklfr01, loaizes01, lonboji01, fasseje01, fletc...
$ year  <int> 1902, 1919, 2007, 1965, 1992, 1983, 1946, 1989, 1976, 1912, 1...
$ stint <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...
$ team  <fctr> CIN, CHN, LAN, BOS, MON, CHA, NY1, NYN, ML4, CHN, PHA, CHA, ...
$ lg    <fctr> NL, NL, NL, AL, NL, AL, NL, NL, AL, NL, AL, AL, NL, NL, NL, ...
$ g     <int> 129, 133, 5, 32, 70, 114, 31, 50, 156, 82, 125, 17, 154, 121,...
$ ab    <int> 531, 498, 7, 59, 7, 262, 68, 153, 606, 265, 468, 0, 628, 500,...
$ r     <int> 82, 52, 0, 4, 0, 42, 2, 14, 73, 50, 71, 0, 94, 59, 24, 54, 28...
$ h     <int> 175, 133, 1, 8, 1, 62, 5, 28, 166, 64, 123, 0, 190, 138, 47, ...
$ X2b   <int> 23, 20, 0, 3, 1, 16, 1, 8, 21, 10, 18, 0, 26, 14, 9, 19, 5, 8...
$ X3b   <int> 7, 6, 0, 0, 0, 5, 0, 0, 5, 3, 7, 0, 8, 5, 1, 6, 4, 0, 0, 0, 3...
$ hr    <int> 5, 3, 0, 0, 0, 3, 1, 2, 18, 2, 7, 0, 3, 0, 1, 0, 0, 2, 0, 0, ...
$ rbi   <int> 69, 62, 2, 4, 0, 31, 4, 15, 77, 32, 59, 0, 50, 26, 12, 48, 4,...
$ sb    <int> 15, 20, 0, 0, 0, 5, 0, 0, 0, 14, 9, 0, 10, 3, 1, 22, 5, 10, 0...
$ cs    <int> NA, NA, 0, 0, 0, 1, NA, 0, 1, NA, 6, 0, 1, NA, 1, 14, 3, 4, 0...
$ bb    <int> 34, 33, 0, 5, 0, 29, 8, 12, 53, 55, 63, 0, 79, 22, 20, 36, 24...
$ so    <int> NA, 35, 2, 22, 3, 22, 15, 15, 118, 20, 38, 0, 45, 8, 25, 17, ...
$ ibb   <int> NA, NA, 0, 0, 0, 0, NA, 0, 6, NA, NA, 0, 3, NA, 3, NA, NA, 0,...
$ hbp   <int> 6, 2, 0, 0, 0, 2, 0, 0, 5, 3, 3, 0, 5, 0, 2, 4, 2, 1, 0, 0, 3...
$ sh    <int> 8, 12, 2, 5, 1, 7, 2, 0, 0, 6, 4, 0, 6, 4, 3, 19, 4, 1, 0, 0,...
$ sf    <int> NA, NA, 0, 0, 0, 2, NA, 1, 7, NA, NA, 0, 1, NA, 1, NA, NA, 3,...
$ gidp  <int> NA, NA, 1, 1, 0, 8, 1, 5, 19, NA, 4, 0, 4, 4, 4, NA, NA, 1, 0...

In [6]:
options( warn = -1 )
over200 <- filter(players, h > 200)
head(over200)
nrow(over200)

  X    id        year stint team lg g   ab  r   h   ... rbi sb  cs bb so ibb
1 3454 brownpe01 1887 1     LS2  AA 134 547 137 220 ... 118 103 NA 55 NA NA
2 3765 thompsa01 1887 1     DTN  NL 127 545 118 203 ... 166  22 NA 32 19 NA
3 4370 glassja01 1889 1     IN3  NL 134 582 128 205 ...  85  57 NA 31 10 NA
4 5832 delahed01 1893 1     PHI  NL 132 595 145 219 ... 146  37 NA 47 20 NA
5 5841 duffyhu01 1893 1     BSN  NL 131 560 147 203 ... 118  44 NA 50 13 NA
6 6023 thompsa01 1893 1     PHI  NL 131 600 130 222 ... 126  18 NA 50 17 NA
  hbp sh sf gidp
1  8  NA NA NA
2  9  NA NA NA
3  5  NA NA NA
4 10  NA NA NA
5  1  NA NA NA
6  6  NA NA NA

[1] 274

In [7]:
over200and40hr <- filter(players, h > 200 & hr > 40)
head(over200and40hr)
nrow(over200and40hr)

  X     id        year stint team lg g   ab  r   h   ... rbi sb cs bb  so ibb
1 18834 ruthba01  1921 1     NYA  AL 152 540 177 204 ... 171 17 13 145 81 NA
2 19528 hornsro01 1922 1     SLN  NL 154 623 141 250 ... 152 17 12  65 50 NA
3 19883 ruthba01  1923 1     NYA  AL 152 522 151 205 ... 131 17 21 170 93 NA
4 21925 gehrilo01 1927 1     NYA  AL 155 584 149 218 ... 175 10  8 109 84 NA
5 23312 kleinch01 1929 1     PHI  NL 149 616 126 219 ... 145  5 NA  54 61 NA
6 23524 gehrilo01 1930 1     NYA  AL 154 581 143 220 ... 174 12 14 101 63 NA
  hbp sh sf gidp
1 4    4 NA NA
2 1   15 NA NA
3 4    3 NA NA
4 3   21 NA NA
5 0    9 NA NA
6 3   18 NA NA

[1] 16

In [8]:
options( warn = -1 )
filter(players, h > 300)

     X id year stint team lg g ab r h ... rbi sb cs bb so ibb hbp sh sf gidp

In [9]:
pct <- mutate(players, hitpct = h / ab)
head(pct)
summary(pct)

  X   id        year stint team lg g  ab  r  h  ... sb cs bb so ibb hbp sh sf
1   4 ansonca01 1871 1     RC1     25 120 29 39 ... 6  2  2  1  NA  NA  NA NA
2  44 forceda01 1871 1     WS3     32 162 45 45 ... 8  0  4  0  NA  NA  NA NA
3  68 mathebo01 1871 1     FW1     19  89 15 24 ... 2  1  2  0  NA  NA  NA NA
4  99 startjo01 1871 1     NY2     33 161 35 58 ... 4  2  3  0  NA  NA  NA NA
5 102 suttoez01 1871 1     CL1     29 128 35 45 ... 3  1  1  0  NA  NA  NA NA
6 106 whitede01 1871 1     CL1     29 146 40 47 ... 2  2  4  1  NA  NA  NA NA
  gidp hitpct
1 NA   0.3250000
2 NA   0.2777778
3 NA   0.2696629
4 NA   0.3602484
5 NA   0.3515625
6 NA   0.3219178

       X                 id             year          stint
 Min.   :    4   mcguide01:   31   Min.   :1871   Min.   :1.000
 1st Qu.:27080   henderi01:   29   1st Qu.:1937   1st Qu.:1.000
 Median :48997   newsobo01:   29   Median :1970   Median :1.000
 Mean   :46655   johnto01 :   28   Mean   :1961   Mean   :1.093
 3rd Qu.:65780   kaatji01 :   28   3rd Qu.:1988   3rd Qu.:1.000
 Max.   :89534   ansonca01:   27   Max.   :2007   Max.   :4.000
                 (Other)  :21527
      team        lg              g                ab              r
 CHN    : 1179     :   65   Min.   :  0.00   Min.   :  0.0   Min.   :  0.00
 NYA    : 1100   AA:  171   1st Qu.: 29.00   1st Qu.: 25.0   1st Qu.:  2.00
 SLN    : 1094   AL:10007   Median : 59.00   Median :131.0   Median : 15.00
 PHI    : 1070   FL:   37   Mean   : 72.82   Mean   :225.4   Mean   : 31.78
 CIN    : 1030   NL:11378   3rd Qu.:125.00   3rd Qu.:435.0   3rd Qu.: 58.00
 PIT    : 1020   PL:   32   Max.   :165.00   Max.   :705.0   Max.   :177.00
 (Other):15206   UA:    9
       h               X2b             X3b               hr
 Min.   :  0.00   Min.   : 0.00   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  4.00   1st Qu.: 0.00   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 32.00   Median : 5.00   Median : 1.000   Median : 1.000
 Mean   : 61.76   Mean   :10.45   Mean   : 2.194   Mean   : 5.234
 3rd Qu.:119.00   3rd Qu.:19.00   3rd Qu.: 3.000   3rd Qu.: 7.000
 Max.   :257.00   Max.   :64.00   Max.   :28.000   Max.   :73.000

      rbi               sb                cs             bb
 Min.   :  0.00   Min.   :  0.000   Min.   : 0.0   Min.   :  0.00
 1st Qu.:  1.00   1st Qu.:  0.000   1st Qu.: 0.0   1st Qu.:  1.00
 Median : 14.00   Median :  1.000   Median : 0.0   Median : 11.00
 Mean   : 29.59   Mean   :  5.168   Mean   : 2.1   Mean   : 22.49
 3rd Qu.: 51.00   3rd Qu.:  5.000   3rd Qu.: 3.0   3rd Qu.: 38.00
 Max.   :184.00   Max.   :130.000   Max.   :42.0   Max.   :232.00
 NA's   :12       NA's   :250       NA's   :4525
       so              ibb               hbp               sh
 Min.   :  0.00   Min.   :  0.000   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  4.00   1st Qu.:  0.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 19.00   Median :  0.000   Median : 0.000   Median : 1.000
 Mean   : 29.26   Mean   :  2.292   Mean   : 1.543   Mean   : 3.388
 3rd Qu.: 45.00   3rd Qu.:  3.000   3rd Qu.: 2.000   3rd Qu.: 5.000
 Max.   :189.00   Max.   :120.000   Max.   :51.000   Max.   :52.000
 NA's   :1305     NA's   :7528      NA's   :377      NA's   :960
       sf              gidp            hitpct
 Min.   : 0.000   Min.   : 0.000   Min.   :0.0000
 1st Qu.: 0.000   1st Qu.: 0.000   1st Qu.:0.1944
 Median : 1.000   Median : 2.000   Median :0.2537
 Mean   : 1.842   Mean   : 4.774   Mean   :0.2340
 3rd Qu.: 3.000   3rd Qu.: 8.000   3rd Qu.:0.2887
 Max.   :19.000   Max.   :36.000   Max.   :1.0000
 NA's   :7390     NA's   :5272     NA's   :2178

In [10]:
summarise(pct, mean(hitpct, na.rm = TRUE))

  mean(hitpct, na.rm = TRUE)
1 0.2339838

In [11]:
library(magrittr)
pct %>% summarise(hitpct %>% mean(na.rm = TRUE))

  hitpct %>% mean(na.rm = TRUE)
1 0.2339838

In [12]:
quantile(pct$hitpct, probs = 0.99, na.rm = TRUE)

      99%
0.4705882

In [13]:
top_players <- filter(pct, hitpct > 0.47)
top_players <- top_players[order(top_players$hitpct) , ]
head(top_players)
nrow(top_players)

   X     id        year stint team lg g  ab r h ... sb cs bb so ibb hbp sh sf
44 23963 willicy01 1930 1     PHI  NL 21 17 1 8 ... 0  NA 4   3 NA  0   0  NA
63 33399 grothjo01 1948 1     DET  AL  6 17 3 8 ... 0   0 1   1 NA  0   0  NA
82 41843 niemabo01 1961 1     SLN  NL  6 17 0 8 ... 0   0 0   2  0  0   0   0
6  11265 tanneje01 1908 1     BOS  AL  1  2 0 1 ... 0  NA 0  NA NA  0   0  NA
7  11644 jennihu01 1909 1     DET  AL  2  4 1 2 ... 0  NA 0  NA NA  0   0  NA
8  12005 raganpa01 1909 1     CIN  NL  2  2 0 1 ... 0  NA 0  NA NA  0   0  NA
   gidp hitpct
44 NA   0.4705882
63  0   0.4705882
82  0   0.4705882
6  NA   0.5000000
7  NA   0.5000000
8  NA   0.5000000

[1] 198

In [15]:
teamhitpct <- summarise(group_by(pct, team), mean(hitpct, na.rm = TRUE))
names(teamhitpct) <- c("team", "hitpct")
summary(teamhitpct)

      team         hitpct
 ALT    :  1   Min.   :0.0000
 ANA    :  1   1st Qu.:0.2295
 ARI    :  1   Median :0.2463
 ATL    :  1   Mean   :0.2477
 BAL    :  1   3rd Qu.:0.2729
 BFN    :  1   Max.   :0.4186
 (Other):126

In [16]:
teamhitpct <- teamhitpct[order(-teamhitpct$hitpct) , ]
head(teamhitpct)

  team hitpct
1 CNU  0.4186047
2 PH1  0.3419050
3 TRO  0.3376216
4 BS1  0.3362452
5 RC1  0.3250000
6 CL1  0.3233259

In [17]:
quantile(teamhitpct$hitpct, probs = 0.99)

      99%
0.3405771