In [4]:
printf <- function(...)print(sprintf(...))

In [7]:

options( warn = -1 )
age <- read.csv("age.tsv", sep="\t")
head(age)

  age             Clinton Trump
1 18-24 years old 56      35
2 25-29 years old 53      39
3 30-39 years old 51      40
4 40-49 years old 46      50
5 50-64 years old 44      53
6 65 and older    45      53

In [8]:
education <- read.csv("education.tsv", sep="\t")
head(education)

  education              Clinton Trump
1 High school or less    45      51
2 Some college education 43      52
3 College graduate       49      45
4 Postgraduate education 58      37

In [9]:
gender <- read.csv("gender.tsv", sep="\t")
head(gender)

  gender Clinton Trump
1 Men    41      52
2 Women  54      41

In [10]:
ideology <- read.csv("ideology.tsv", sep="\t")
head(ideology)

  ideology      Clinton Trump
1 Liberals      84      10
2 Moderates     52      41
3 Conservatives 15      81

In [18]:
income <- read.csv("income.tsv", sep="\t")
head(income)

  income           Clinton Trump
1 Under $30,000    53      41
2 $30,000-49,999   51      42
3 $50,000-99,999   46      50
4 $100,000-199,999 47      48
5 $200,000-249,999 48      49
6 Over $250,000    46      48

In [12]:
orientation <- read.csv("orientation.tsv", sep="\t")
head(orientation)

  orientation  Clinton Trump
1 LGBT         78      14
2 Heterosexual 47      48

In [13]:
party <- read.csv("party.tsv", sep="\t")
head(party)

  party        Clinton Trump
1 Democrats    89       9
2 Republicans   7      90
3 Independents 42      48

In [14]:
race <- read.csv("race.tsv", sep="\t")
head(race)

  race                   Clinton Trump
1 White                  37      58
2 Black                  88       8
3 Asian                  65      29
4 Other                  56      37
5 Hispanic (of any race) 65      29

In [15]:
region <- read.csv("region.tsv", sep="\t")
head(region)

  region    Clinton Trump
1 Northeast 55      40
2 Midwest   45      49
3 South     44      52
4 West      55      39

In [19]:
religion <- read.csv("religion.tsv", sep="\t")
head(religion)

  religion        Clinton Trump
1 Protestant      37      60
2 Catholic        45      52
3 Mormon          25      61
4 Other Christian 43      55
5 Jewish          71      24
6 Other religion  58      33

In [20]:
printf("Most Clinton voters from %s",age[which.max(age$Clinton),'age'])
printf("Most Clinton voters from %s",education[which.max(education$Clinton),'education'])
printf("Most Clinton voters from %s",gender[which.max(gender$Clinton),'gender'])
printf("Most Clinton voters from %s",ideology[which.max(ideology$Clinton),'ideology'])
printf("Most Clinton voters from %s",income[which.max(income$Clinton),'income'])
printf("Most Clinton voters from %s",orientation[which.max(orientation$Clinton),'orientation'])
printf("Most Clinton voters from %s",party[which.max(party$Clinton),'party'])
printf("Most Clinton voters from %s",race[which.max(race$Clinton),'race'])
printf("Most Clinton voters from %s",region[which.max(region$Clinton),'region'])
printf("Most Clinton voters from %s",religion[which.max(religion$Clinton),'religion'])

[1] "Most Clinton voters from 18-24 years old"
[1] "Most Clinton voters from Postgraduate education"
[1] "Most Clinton voters from Women"
[1] "Most Clinton voters from Liberals"
[1] "Most Clinton voters from Under $30,000"
[1] "Most Clinton voters from LGBT"
[1] "Most Clinton voters from Democrats"
[1] "Most Clinton voters from Black"
[1] "Most Clinton voters from Northeast"
[1] "Most Clinton voters from Jewish"

In [21]:
printf("Most Trump voters from %s",age[which.max(age$Trump),'age'])
printf("Most Trump voters from %s",education[which.max(education$Trump),'education'])
printf("Most Trump voters from %s",gender[which.max(gender$Trump),'gender'])
printf("Most Trump voters from %s",ideology[which.max(ideology$Trump),'ideology'])
printf("Most Trump voters from %s",income[which.max(income$Trump),'income'])
printf("Most Trump voters from %s",orientation[which.max(orientation$Trump),'orientation'])
printf("Most Trump voters from %s",party[which.max(party$Trump),'party'])
printf("Most Trump voters from %s",race[which.max(race$Trump),'race'])
printf("Most Trump voters from %s",region[which.max(region$Trump),'region'])
printf("Most Trump voters from %s",religion[which.max(religion$Trump),'religion'])

[1] "Most Trump voters from 50-64 years old"
[1] "Most Trump voters from Some college education"
[1] "Most Trump voters from Men"
[1] "Most Trump voters from Conservatives"
[1] "Most Trump voters from $50,000-99,999"
[1] "Most Trump voters from Heterosexual"
[1] "Most Trump voters from Republicans"
[1] "Most Trump voters from White"
[1] "Most Trump voters from South"
[1] "Most Trump voters from Mormon"